/* 
   Overschrijf de donkere filter van Ananke.
   Standaard is het rgba(0, 0, 0, 0.6) -> 60% zwart.
   Wij maken er 0.3 (30%) of 0.2 (20%) van.
*/

.bg-black-60,
.bg-black-50,
.bg-black-40 {
    background-color: rgba(94, 255, 188, 0.1) !important;
}

/* Scoped text shadow: Hero section & Navigation only */
.cover h1,
.cover h2,
.cover .lh-title,
nav,
nav a,
#current-lang-label {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}

/* Force 100% white text in header for elements with white-90 or white-80 Tachyons classes */
.cover .white-90,
.cover .white-80 {
    color: white !important;
}